@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

html {
    font-family: 'PT Sans', sans-serif;
    background-color:#ffbdbf;
}


#head-wrapper {
    h1 {
       color:#FFF;
       font-size:40px;
    }
    h3 {
        color:rgb(231, 189, 189);
        font-size:25px;
    }
    background-color: #bf353a;
    padding-top:3em;
    padding-bottom:3em;
    margin-left:5em;

}

#head-container {
    background-color: #bf353a;
}

#nav-container {
    padding-left:5em;
    background-color: #fc7478;
    height:3.5em;
}
#nav-wrapper {
    width:100%;
    
}
#socials-wrapper{
    float: right;
    margin-right:2em;

}

.nav-button, .nav-icon {
    background-color: #fc7478;
    color:#FFF;
    outline: none;
    border:none;
    font-size:20px;
    height:100%;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    fill:#000;
    &:hover {
        background-color:#f19ea1;
        color:#000;
        cursor:pointer;
    }
    
}
.nav-button {
    width:8rem;
    background-color: #df5d64;
    border-radius: 15px 15px 0px 0px;
}
.nav-icon {
    width:56px;
    height:56px;
}

#nav-menu {
    background-color:#ffbdbf;
    color:#000;
    font-weight: bold;
}

#menu-container {
    padding:4em;
}

#menu-wrapper {
    
    margin-top:10em;
    margin: auto;
    height:1000px;
    width:85%;
    background-color: #fa8084;
    text-align: center;
    align-items: center;
    padding-top: 4em;
}